<% layout("./layouts/boilerplate") -%>
<body>
    <form action="/index" method="GET" class="mb-2 mt-2">
      <div class="row justify-content-center">
    <div class="col-md-3 d-flex">
        <input type="text" name="search" placeholder="Search..." value="<%= search %>" class="form-control me-2">
        <button class="btn btn-custom">Search</button>
    </div>
</div>

</form>
  <h4 class="mt-2">All Hardwares</h4>
  <table>
    <thead>
      <tr>
        <th>Employee Code</th>
        <th>Employee Name</th>
        <th>Location</th>
        <th>Category</th>
        <th>View Asset</th>
        <!--   -->
        <!-- <th>Delete Assets</th> -->
      </tr>
    </thead>
    <tbody>
      <% for(let assets of allAssets){ %>
      <tr>
        <td><%= assets.employeeCode %></td>
        <td><%= assets.employeeName %></td>
        <td><%= assets.location %></td>
        <td><%= assets.category %></td>
        <td>
          <form action="/assets/<%= assets._id %>/show/view" method="get">
            <button class="btn-custom">View</button>
          </form>
        </td>
        
        
        
       
      </tr>

      <% } %>
    </tbody>
  </table>
  <div>
    <% if (currentPage > 1) { %>
        <a href="/index?page=<%= currentPage - 1 %>&search=<%= search %>">Previous</a>
    <% } %>

    Page <%= currentPage %> of <%= totalPages %>

    <% if (currentPage < totalPages) { %>
        <a href="/index?page=<%= currentPage + 1 %>&search=<%= search %>">Next</a>
    <% } %>
</div>
</body>
